@charset "utf-8";
/* CSS Document */
.body{
	margin:0;
	padding:0;
}
div{
	height:500px;
	margin:0;
	padding:0;
	float:left;
}
.left{
	background:red;
	width:20%
}
.content{
	width:60%;
	height:1000px;
	background:green;

}
.right{
	background:yellow;
	width:20%

}
.device_author_time{
	display:none;
}
.author_time{
	height:auto;
}
.author_time h3{
	float:left;
	font-size:14px;
	margin:5px;
	color: #F0F;
}
.news_content{
	background:blue;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
@media screen and (max-width:480px){
	.left{
		display:none;
	}
	.content{
		width:100%;
		box-sizing:border-box;
		
	}
	.right{
		display:none;
	}
	.author_time{
		display:none;
	}
	.device_author_time{
		display:block;
		height:100px;
		width:100%;
		background:red;
	}
	.device_author_time img{
		width:100px;
		height:100px;
	}
}
