@charset "utf-8";
/* CSS Document */
body{
	padding:0;
	margin:0;
}
.box{
	background:#f30;
	width:100px;
	height:100px;
	display:inline-block;
}
input{
	vertical-align:top;
}
#box_end{
	width:0;
	transition:.3s;
}