@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
}
.imgBox{
	width:1200px;
	height:600px;
	position:relative;
}
.bgImg{
	width:1200px;
	height:600px;
	z-index:-1;
}
ul{
	position:absolute;
	bottom:0;
	width:100%;
	height:100px;
	padding:0 10px;
	list-style-type:none;
	box-sizing:border-box;
	background:gray;
}
li{
	float:left;
	width:20%;
	height:100%;
	padding:0 10px;
	box-sizing:border-box;
}
li img{
	width:100%;
	height:100%;
	border:5px solid green;
	box-sizing:border-box;
}
.on{
	border:5px solid red;
}



