@charset "utf-8"
*{
	padding:0;
	margin:0;
}

.testDiv{
	width:120px;
	height:120px;
	background:#ccc;
	text-align:center;
	color:red;
	line-height:120px;
	position:relative;
	margin-top:10px;
	left:0;
	border-radius:50%;
	/*transition-property:left;
	transition-duration:5s;
	transition-timing-function:linear;*/
	transition:background 2s,left 5s linear 2s,
	font-size 2s linear 7s,transform 10s ease-in 2s;
}
body:hover .testDiv:nth-child(2){
	background:#00F;
	left:1000px;
	font-size:20px;
	transform:rotate(3600deg);
}
.box{
	width:300px;
	height:200px;
	background:#666;
	text-align:center;
	line-height:200px;
	margin:0 auto;
	-webkit-transition:background 2s,color 2s linear 2s,font-size 2s linear 4s,transform 2s linear 6s;
	
}
.box:hover{
	background:blue;
	color:white;
	font-size:40px;
	transform:scale(1,1.5);
}
/*body .testDiv:nth-child(2){
	transition-timing-function:ease;
}
body .testDiv:nth-child(3){
	transition-timing-function:ease-in;
}
body .testDiv:nth-child(4){
	transition-timing-function:ease-out;
}
body .testDiv:nth-child(5){
	transition-timing-function:ease-in-out;
}
body:hover .testDiv{
	background:#00F;
	left:1000px;
}*/
/*移动上去的动画效果*/
.imgBox{
	width:600px;
	height:450px;
	overflow:hidden;
}
.img{
	background:url(../img/2016121016371813.jpg);
	position:relative;
	width:600px;
	height:360px;
	transition:background-position .5s;
}
.imgBox:hover .contentBox{
	background:#C93;
	margin-top:-50px;
	height:90px;
}
.imgBox:hover .img{
	background-position:0 -20px ;
	
}
.contentBox{
	position:absolute;
	width:600px;
	height:50px;
	background:white;
	transition:margin-top .5s,height .5s;
	overflow:hidden;
}
.zan{
	float:left;
}
.time{
	float:right;
}
