/* CSS Document */
*{
	padding:0;
	margin:0;
}
body{
	width:100%;
	height:100%;
	overflow:hidden;
}
.box{
	width:300px;
	height:300px;	
	margin:200px auto;
	transform-style:preserve-3d;
	perspective:60000px;
	transform-origin:center center -150px;
	animation:moveX 20s linear infinite;
}
@keyframes moveX{
	0%{ 
		transform:rotateX(0) rotateY(30deg) rotateZ(0deg);
	}
	25%{
		transform:rotateX(360deg) rotateY(30deg) rotateZ(0deg);
	}
	50%{
	 	transform:rotateX(360deg) rotateY(360deg) rotateZ(60deg);

	}
	75%{
		transform:rotateX(-360deg) rotateY(-360deg) rotateZ(120deg);

	}
	100%{
		transform:rotateX(60deg) rotateY(30deg) rotateZ(0deg);
	}
}


.box div{
	width:300px;
	height:300px;
	transform:translate3d(100,100,100);
	line-height:300px;
	font-size:50px;
	text-align:center;
	position:fixed;
	
}
.box div:nth-child(1){
	background:red;
}
.box div:nth-child(2){
	background:#cea;
	transform-origin:bottom;
	transform:rotateX(90deg);
}
.box div:nth-child(3){
	background:#eac;
	transform-origin:left;
	transform:rotateY(90deg);
}
.box div:nth-child(4){
	background:#fea;
	transform-origin:right;
	transform:rotateY(270deg);

}
.box div:nth-child(5){
	background:#aaa;
	transform-origin:top;
	transform:rotateX(270deg);
}

.box div:nth-child(6){
	background:#0FF;
	transform-origin:center;
	transform:translateZ(-300px);
}
