@charset "utf-8";
/* CSS Document */
body,ul,li,p{
	margin:0;
	padding:0;
	font-family:"Microsoft YaHei";
}
p{
	line-height:2;
}
/**/
.header{
	width:100%;/*设置最小宽度*/
	height:90px;
	min-width:1235px;
	max-wdith:1920px;
	/*margin:0 auto; 设置内容居中*/
	border-bottom:1px solid #999;
	box-shadow:0 1px 1px #999;/**/
}
/*顶部导航栏*/
.top_nav{
	height:34px;
	background:#222;
	padding-left:20px;
}
.list_nav{
	float:left;
}
.list_nav > li{
	float:left;
 	color:#fff;/*行高、字体颜色有继承效果，子类所有都会继承父类*/
	list-style-type:none;
	line-height:34px;
	margin-right:20px;
	font-size:13px;
}
.list_nav > li i{
	width:14px;
	height:10px;
	margin-left:2px;
	background:url(../img/arrow_down.jpg);
	display:inline-block; /*行内区块*/
	vertical-algin:middle;/*图片和文字对齐方式*/
	position:relative;/*absolute和float冲突*/
}
.list_nav > li:hover i{/*触碰后控制子元素i*/
	/*background:url(../img/arrow_up.jpg);*/
	transform:rotate(180deg);/*旋转180度*/
}
.list_nav > li:hover .more_list{
	display:block;
}
.more_list{
	background:#fff;
	color:#8b8b8b;
	width:90px;
	margin-left:-31.5px;
	list-style-type:none;
	text-align:center;
	position:absolute;
	display:none;
	z-index:3;
}
.more_list li:hover {
	background:#efefef;
}
.right_nav{
	list-style-type:none;
	float:right;
}
.right_nav > li{
	float:left;
	padding:0 10px;
	line-height:34px;
	color:#fff;
	font-size:14px;
	text-align:center;
	box-shadow:0.5px 0 1px #999;
}
.more_list_2 {
	background:#fff;
	color:#8b8b8b;
	width:116px;
	right:0;
	list-style-type:none;
	text-align:center;
	position:absolute;
	display:none;
	border:1px solid #9f9f9f;
}
.more_list_2 li:hover{
	background:#efefef;
}
#more_btn:hover .more_list_2{
	display:block;
}
#login_btn{
	width:82px;
}
#login_btn > div{
	background:#ED4040;
	width:68px;
	float:right;
	margin-right:4px;
}

/*正文导航栏*/
.top_line{
	width:1235px;
	height:58px;
	margin:0 auto;
	padding:0 50px;
	box-sizing:border-box;
}
.top_line img{
	width:108px;
	height:27px;
	vertical-align:middle;
}
.img_box{
	height:100%;
	line-height:58px;
	float:left;
}
.tag{
	float:left;
	margin-left:20px;
	line-height:58px;
	vertical-align:middle;

}
.tag a{
	text-decoration:none;
	color:#444;
}
.tag span{
	color:#999;
}
.search{
	float:right;
	line-height:58px;
	position:relative;
}
.search .edit{
	width:340px;
	height:40px;
	border:1px solid #e8e8e8;
	box-sizing:border-box;
	padding:0 40px 0 15px;
	background:#f5f6f7;
	outline:none;	
	font-size:14px;
	border-radius:6px;
	verical-align:middle;
}
.search_btn{
	width:40px;
	height:40px;
	background:url(../img/search_btn.jpg) no-repeat center center;
	border:none;
	outline:none;
	position:absolute;
	top:9px;
	right:0;
	
}
.search #datalist{
		
}
.search input:focus{
	border-color:red;
}
/*主体内容*/
/*左边内容*/
.content{
	width:1235px;
	margin:0 auto;
	padding:15px 50px;
	box-sizing:border-box;
}
.left{
	width:100px;
	height:400px;
	float:left;
}
.left >div{
	margin:6px 0px;
}
.left > div >i{
	width:35px;
	height:35px;
	background:url(../img/other_icon.jpg);
	display:inline-block;
	vertical-align:middle;
	margin-right:8px;
}
.left >div >i:hover{
	opacity:.5;
}
#send{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	color:#fa9090;
}
#weibo i{
	background-position:0 -59px;
}
#qzone i{
	background-position:0 -105px;

}
#wechat i{
	background-position:0 -152px;
}
.center{
	width:735px;
	height:800px;
	float:left;
	padding: 0 30px;
	box-sizing:border-box;
}
.center img{
	margin:10px auto;
	display:block;
}
.edit_box{
	width:665px;
	height:300px;
	box-sizing:border-box;
	position:relative;
}
.edit_box i{
	background:url(../img/user_defualt_icon.png) no-repeat center;
	width:32px;
	height:32px;
	left:4px;
	top:4px;
	border-radius:50%;
	position:absolute;
	display:inline-block;
}
.textarea_box{
	height:40px;
	margin-left:60px;
	box-sizing:border-box;
	position:relative;
}
.edit{
	width:100%;
	height:40px;
	resize:none;
	box-sizing:border-box;
}
.check_btn{
	position:absolute;
	left:0;
}
.send_btn{
	width:110px;
	height:40px;
	float:left;
	position:absolute;
	right:0;
	bottom:0;
	text-align:center;
	line-height:40px;
	background:#666;
}
.right{
	width:300px;
	height:400px;
	background:red;
	float:right;
}
.movie_box img{
	width:100%;
	height:150px;
	transition-duration:.2s;
}
.movie_box img:hover{
	transform:scale(1.05);
}

.movie_box{
	overflow:hidden;
	position:relative;
}
.time{
	position:absolute;
	background:rgba(155,0,0,.6);
	width:60px;
	border-radius:10px;
	right:10px;
	top:120px;
}



/*底部菜单*/
.footer{
	width:100%;/*设置最小宽度*/
	height:90px;
	min-width:1235px;
	max-wdith:1920px;
	margin:0 auto;
	padding:0 50px;
	background:blue;
	clear:both;/*使得底部部分不跟随其他float效果*/
	box-sizing:border-box;
}
/*响应式*/
/*平板*/
@media screen and (min-width:768px) and (max-width:1234px){
	.right{
		display:none;
	}
	.footer{
		display:none;
	}
	.top_nav{
		overflow:hidden;
	}
	.top_line{
		width:768px;
		margin:0 auto;
		padding:0;
	}
	.header{
		width:100%;
		min-width:768px;
	}
	.content{
		width:768px;
	}
	.center{
		width:568px;
		padding:0 15px;
	}
}
@media screen and (max-width:767px){
	.left,.right,.footer,.header{
		display:none;
	}
	.content{
		width:100%;
		padding:15px;
	}
	.center{
		width:100%;
		padding:0;
	}
	.center img{
		width:100%;
	}
}

